<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Timestamp Microservice</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1 class="title">Timestamp Microservice</h1>
        <div class="content-box">
          <h2>Example Usage:</h2>
          <ul>
            <li><p class="example-text"><a href="api/2015-12-25" class="link">/api/2015-12-25</a></p></li>
            <li><p class="example-text"><a href="api/1451001600000" class="link">/api/1451001600000</a></p></li>
          </ul>

          <h2>Example Output:</h2>
          <div class="code-box">
            <p>
              <code>{"unix":1451001600000,"utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
            </p>
          </div>
        </div>
      </div>
      <div class="footer">
        <p class="footer-text">
          by <span class="author">Josh Andrei Aguiluz</span>
        </p>
      </div>
   </body>
</html>
